# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#################################
# Databricks  Configuration
#################################

names_prefix				= "<<DATABRICKS_NAME_PREFIX>>"
deploymentname 				= "<<DATABRICKS_DEPLOYMENTNAME>>"
databricks_subid    			= "<<DATABRICKS_SUBID>>"

#################################
# Network configuration section
#################################

databricks_vnet_address_space 		= ["<<DATABRICKS_VNETSPACE>>"]
databricks_private_subnet_address_space = ["<<DATABRICKS_SUBNETSPACE>>"]

subnets 				= {
  "${var.name_prefix}-databricks-nsg" 	= { 
    name              			= "${var.name_prefix}_databricks_snet"
    address_prefixes  			= ["<<DATABRICKS_SUBNETVM_ADDRESSPREFIXLIST>>"]
    service_endpoints 			= ["Microsoft.Storage"]

    enforce_private_link_endpoint_network_policies 	= false
    enforce_private_link_service_network_policies 	= false

    nsg_name 				=  "${var.name_prefix}_databricks_nsg"
    nsg_rules 				= {
      "allow_ssh" 			= {
        name                       	= "allow_ssh"
        priority                   	= "100"
        direction                  	= "Inbound"
        access                     	= "Allow"
        protocol                   	= "Tcp"
        source_port_range          	= ""
        destination_port_range     	= "22"
        source_address_prefix      	= "*"
        destination_address_prefix 	= ""
      }
      "allow_rdp" 			= {
        name                       	= "allow_rdp"
        priority                   	= "200"
        direction                  	= "Inbound"
        access                     	= "Allow"
        protocol                   	= "Tcp"
        source_port_range          	= ""
        destination_port_range     	= "3389"
        source_address_prefix      	= "*"
        destination_address_prefix 	= ""
      }
    }

    routetable_name 			= "${var.name_prefix}_databricks_route"
  }
}
                         
